{% extends "cube/base.html"%}

{% load static %}

{% block content%}
    <div id="info"class="container" style="text-align: left;">
        <center>
        <h1 style="color:white">About Me:</h1>

        <p style="color:white">
            Contact: nealmick99@gmail.com
        </p>
        </center>


        <h1 style="color:white">Information Technology and Systems Experience</h1>

        <p style="color:white">					    
            Advanced understanding of languages such as Python, Java, and C++.  Aswell as other languages like JavaScript, HTML, CSS, SQL, and Bash.
            
        </p>
        <p style="color:white">					    
            Mastered several Python libraries, including Django, Tensorflow, and Numpy. Experienced in pyTorch, Seaborn, Flask, Pickle, and many others.    
        </p>
        <p style="color:white">					    
            Deep familiarity with Linux distributions such as Arch, Ubuntu, Kali, and Parrot OS.
        </p>
        <h1 style="color:white">Reference Projects</h1>
        <p style="color:white">
            Rubiks cube that solves it self instantly and is rendered in browser with intuitive controls.  
        </p>

        <p style="color:white">
            Chess engine that can beat me everytime, takes only a few seconds to evaluate any postion, and performs at around rank 2000 ELO.
        </p>
        <p style="color:white">
            Lastly a Neural Network that predicts NBA game winners by player stats, trained on historical data from the past 20 years.
        </p>
        <h1 style="color:white">Education</h1>
        <p style="color:white">
            Information Systems, specialization in Cyber Security, Piedmont Virginia Community College, 
            Charlottesville, VA								            2019 - Present
        </p>
        <p style="color:white">
            Summer Internship, McIntire School of Commerce, University of Virginia, 2015
        Worked on server upgrades, and other systems administration.
        </p>
        <p style="color:white">
            Brandon Hall High School, Atlanta, GA						2012 - 2016
        </p>
        
        
        <h1 style="color:white">References</h1>
        <p style="color:white">
            
            Rob Chang, Enterprise Systems Support Engineer, McIntire School of Commerce, University of Virginia.
        </p>
        <p style="color:white">
            rc2cb@comm.virginia.edu
        </p>
        <p style="color:white">
            Mike Ferero, Instructor of Information Technology & Systems, Piedmont Virginia Community College.
        </p>
        <p style="color:white">
            mferero@email.vccs.edu
        </p>

        
        		

       

    </div>
    <div class="homeChess"></div>
{%endblock%}